.header-color {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}

.avatar-img {
  height: 250px;

  border-radius: 25%;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20 px;
  padding: 1em;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 10 em;
  padding: 8 px;
}

.pstyle {
  font-size: 20px;
  text-align: center;
}

.pimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.pname {
  text-align: center;
}

.plink {
  font-size: 15px;
  text-align: center;
}

.aboutme {
  padding-left: 50px;
}

.pfp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.resume {
  text-align: center;
}
