body {
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-brand,
.btn-info {
  box-shadow: 2px 2px 5px black;
}
